log_id("cloudaudit.googleapis.com/activity")
protoPayload.methodName="io.k8s.core.v1.nodes.create"
resource.type="k8s_cluster"
protoPayload.status.code=0
resource.labels.cluster_name="${cluster_name}"