protoPayload.methodName="io.k8s.core.v1.pods.binding.create"
protoPayload.request.metadata.namespace="gcp-symphony"
protoPayload.response.kind="Status"
protoPayload.response.status="Success"
resource.labels.cluster_name="${cluster_name}"
