logName="projects/${project_id}/logs/cloudaudit.googleapis.com%2Factivity"
resource.type=("gce_instance_group_manager")
protoPayload.methodName=(
    "v1.compute.instanceGroupManagers.createInstances"
)