containers:
  - name: hf-sym-compute-local
    image: ${docker_registry}/sym-compute:rocky9-7.3.2
    imagePullPolicy: IfNotPresent
    env:
      - name: SYM_MASTER
        value: "$(hostname -f)"
      - name: SYM_CLUSTER_NAME
        value: "$(grep -A1 ClusterName $EGO_CONFDIR/ego.shared | tail -n1)"
    securityContext:
      capabilities:
        add: ["SYS_NICE"]
    resources:
      requests:
        memory: "3Gi"
        cpu: "1"
nodeSelector:
  cloud.google.com/compute-class: ${compute_class}
# affinity:
#   podAntiAffinity:
#     requiredDuringSchedulingIgnoredDuringExecution:
#     - labelSelector:
#         matchExpressions:
#         - key: symphony.deployment
#           operator: In
#           values:
#           - hf-service
#       topologyKey: kubernetes.io/hostname