#!/bin/bash
# This script:
#    - should be called as getDemandRequest.sh
#    - exit with 0 if calling succeed and result will be in the stdOut
#    - exit with 1 if calling failed and error message will be in the stdOut
#
scriptDir=`dirname $0`
homeDir="$(cd "$scriptDir" && cd .. && pwd)"
. $${EGO_TOP}/profile.platform

inJson=$2
inJsonContent=$(cat $inJson)

SCRIPT=symAgetDemandRequests
TARGET=${logs_ingertor_url}
TIMESTAMP=$(date -Iseconds)
HOSTNAME=$(hostname -f)
INTERMEDIARY_LOG=$HF_TOP/log/observability.symA.$HOSTNAME

outJsonContent=$(python3 $homeDir/scripts/Main.py --getDemandRequests $homeDir $inJson)

curl -X PUT "$TARGET/$HOSTNAME/$SCRIPT/in/$TIMESTAMP" \
    -H "Content-Type: application/json" \
    -H "Authorization: Bearer $(gcloud auth print-identity-token)" \
    -d "$inJsonContent" -s 2> >(tee -a $INTERMEDIARY_LOG >/dev/null 2>&1) >&2

curl -X PUT "$TARGET/$HOSTNAME/$SCRIPT/out/$TIMESTAMP" \
    -H "Content-Type: application/json" \
    -H "Authorization: Bearer $(gcloud auth print-identity-token)" \
    -d "$outJsonContent" -s 2> >(tee -a $INTERMEDIARY_LOG >/dev/null 2>&1) >&2

echo $TIMESTAMP/$SCRIPT/in $inJsonContent 2> >(tee -a $INTERMEDIARY_LOG >/dev/null 2>&1) >&2
echo $TIMESTAMP/$SCRIPT/out $outJsonContent 2> >(tee -a $INTERMEDIARY_LOG >/dev/null 2>&1) >&2

echo $outJsonContent