function filter(message, metadata) {
  if (!message.data) return null;

  const log = JSON.parse(message.data);

  const filtered = {
    time: log.timestamp,
    cluster: log.resource.labels.cluster_name,
    namespace: log.resource.labels.namespace_name,
    source: "k8s-api-log",
    run: "${run_id}",
    event: "container:started",
    sym_request: null,
    container_name: log.jsonPayload.involvedObject.fieldPath.match(/\{([^}]+)\}/)[1], // use regex
    pod: log.resource.labels.pod_name,
    node: log.jsonPayload.source.host,
    acn: null,
    detail: null,
    // detail: JSON.stringify({})
  };

  return {
    data: JSON.stringify(filtered),
    attributes: message.attributes
  };
}