function filter(message, metadata) {
  if (!message.data) return null;

  const log = JSON.parse(message.data);

  const filtered = {
    time:  log.protoPayload.response.metadata.creationTimestamp,
    cluster:  log.resource.labels.cluster_name,
    namespace: null,
    source: "audit",
    run:  "${run_id}",
    event: "node:create",
    sym_request: null,
    container_name: null,
    pod: null,
    node: log.protoPayload.response.metadata.name,
    acn: null,
    detail: null,
    // detail: JSON.stringify({})
  };

  return {
    data: JSON.stringify(filtered),
    attributes: message.attributes
  };
}