---
name: Build k8s-operator
on: 
  workflow_dispatch:
  push:
    paths:
      - k8s-operator/**

env:
  IMAGE: gcp-symphony-operator
  REGISTRY: "gcp-symphony-registry" # TODO: Update with actual registry

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-24.04
    env:
      TAG: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
    
      - name: Run Tests
        run: |
          cd k8s-operator
          curl -LsSf https://astral.sh/uv/install.sh | sh
          source $HOME/.local/bin/env
          uv venv --python 3.12 --allow-existing
          source .venv/bin/activate
          uv pip install -e ".[dev]"
          pytest tests

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: k8s-operator
          file: ./k8s-operator/Dockerfile
          push: false # NOTE: It's important to set push to false here to avoid pushing test images to the registry
          load: true
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
          build-args: |
            VERSION=${{ env.VERSION }}
          tags: |
            ${{ env.IMAGE }}:${{ env.TAG }}

      - name: Run export-manifests
        run: |
          docker run --rm ${{ env.IMAGE }}:${{ env.TAG }} export-manifests > manifests.yaml

      - name: Verify manifests
        run: |
          if [ -f k8s-operator/tests/manifests/gcp-symphony-operator.yaml.j2 ]; then
            diff manifests.yaml k8s-operator/tests/manifests/gcp-symphony-operator.yaml.j2 || { echo "Manifest mismatch manifests.yaml and k8s-operator/tests/manifests/gcp-symphony-operator.yaml.j2"; exit 1; }
          else
            echo "k8s-operator/gcp-symphony-operator.yaml.j2 not found." && exit 1
          fi

      - name: Upload manifests artifact for debugging
        uses: actions/upload-artifact@v4
        with:
          name: manifests.yaml
          path: manifests.yaml
          compression-level: 0

  check-tags:
    name: Check Tags
    runs-on: ubuntu-24.04
    outputs:
      is_release: ${{ steps.check.outputs.is_release }}
    steps:
      - id: check
        run: |
          if [[ "${{ github.event.ref }}" =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "is_release=true" >> $GITHUB_OUTPUT
          else
            echo "is_release=false" >> $GITHUB_OUTPUT
          fi

  build:
    name: Build
    needs: [tests, check-tags]
    if: github.ref_type != 'tag' || needs.check-tags.outputs.is_release == 'false'
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Dev Version
        run: |
          SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)
          VERSION=1.0.0-build.${GITHUB_RUN_NUMBER}-${SHORT_SHA}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: k8s-operator
          file: ./k8s-operator/Dockerfile
          push: false # TODO: Change to true when ready to push to registry
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
          build-args: |
            VERSION=${{ env.VERSION }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE }}:${{ env.VERSION }}

  release:
    name: Release
    needs: [tests, check-tags]
    if: needs.check-tags.outputs.is_release == 'true'
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Release Version
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: k8s-operator
          file: ./k8s-operator/Dockerfile
          push: false # TODO: Change to true when ready to push to registry
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
          build-args: |
            VERSION=${{ env.VERSION }}
          tags: |
              ${{ env.REGISTRY }}/${{ env.IMAGE }}:${{ env.VERSION }}
              ${{ env.REGISTRY }}/${{ env.IMAGE }}:latest
